{% extends 'base.html.twig' %}

{% block title %}Families list{% endblock %}
{% block myTitle %}Here's an animals families list{% endblock %}
{% block body %}
{% for family in families %}
    <h2 class="border-bottom border-primary mx-3"><a class="text-decoration-none" href="{{path('display_family', {'id': family.id})}}">{{ family.fieldName|capitalize }}</a></h2>
        {# <h2><a href="{{path('display_family', {'id': family.id})}}">{{ family.fieldName }}</a></h2> #}
    <div class="mb-3 mx-3">{{ family.description }}</div>
    <div class="row  mx-3">
        {% for animal in family.animals %}
            <div class="col-12 col-md-6 col-lg-2 text-center">
                <div class="row align-items-center">
                    <div class="col-2 text-center"> 
                        <img class="img-fluid" src="{{asset('images/' ~ animal.image)}}" alt=""/>
                    </div>
                    <div class="col text-center">
                        <h2><a href="{{path('display_animal', {'id': animal.id})}}">{{ animal.name }}</a></h2>
                        <div>{{ animal.description }}</div>
                        <div class="mt-3">
                            {% for continent in animal.continents %}
                                <a class="btn btn-warning" href="{{path('display_continent', {'id': continent.id})}}">{{ continent.fieldName }}</a>
                                {# <a class="btn btn-warning">{{ continent.fieldName }}</a> #}
                            {% endfor %}  
                        </div>        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    
{% endfor %}
{% endblock %}