{% extends 'base.html.twig' %}

{% block title %}{{continent.fieldName}}{% endblock %}
{% block myTitle %}{{continent.fieldName}} {% endblock %}
{% block body %}

        <div class="row mt-4 mx-3 items-center align-items-center">
            {% for animal in continent.animals %}
                <div class="col-12 col-md-6 col-lg-2 text-center">
                    <div class="row align-items-center">
                        <div class="col-2 text-center"> 
                            <img class="img-fluid" src="{{asset('images/' ~ animal.image)}}" alt=""/>
                        </div>
                        <div class="col text-center">
                            <h2><a href="{{path('display_animal', {'id': animal.id})}}">{{ animal.name }}</a></h2>
                            <div>{{ animal.description }}</div>
                            <div><a href="{{path('display_family', {'id': animal.family.id})}}" class="btn btn-info">{{ animal.family.fieldName }}</a></a></div>
                            <div class="mt-3">
                                {% for continentAnimal in animal.continents %}
                                    {% if (continent.id != continentAnimal.id) %}
                                        <a class="btn btn-warning" href="{{path('display_continent', {'id': continentAnimal.id})}}">{{ continentAnimal.fieldName }}</a>
                                        {# <a class="btn btn-warning">{{ continent.fieldName }}</a> #}
                                    {% endif %}
                                {% endfor %}  
                            </div>        
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
{% endblock %}
