{% extends 'base.html.twig' %}

{% block title %}{{person.name}}{% endblock %}
{% block myTitle %}{{person.name}} {% endblock %}
{% block body %}
    <h2 class="border-bottom border-primary mx-3">{{ person.name }}'s animals :</h2>
    {% for dispose in person.disposes %}
        <div class="row align-items-center mx-1 mb-2">
            <div class="col-2">
                <img src="{{asset('images/' ~ dispose.animal.image)}}" alt="">
            </div>
            <div class="col">
                <h2><a href="{{path('display_animal', {'id': dispose.animal.id})}}">{{ dispose.animal.name }}</a></h2>
                <div>Number : {{ dispose.nb }}</div>
            </div>
        </div>
{% endfor %}
{% endblock %}
